h3{
  text-align: center;
}
h4{
  margin: 0px;
}
#notfound{
  margin-top: 8px;
  display: none;
}
.container{
  background-color: #a6d4e1;
  padding: 40px 20px;
  border: 2px solid #2f6273;
  border-radius: 10px;
  position: relative;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.search,
.contact{
  margin-top: 70px;
  text-align: center;
  position: relative;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.contact table{
  width: 100%;
  border-collapse: collapse;
}
table, td, th{
  padding: 10px;
  border: 1px solid #333;
}
table th, td{
  text-align: left;
}
table tr:nth-child(even){
  background-color: #f2f2f2;
}
button{
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 6px 12px;
  cursor: pointer;
}
button:active{
  background-color: #eeeeee;
}
input{
  padding: 12px 6px;
}
